*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing:border-box;
}
body{
    background: #39297b;
    color:#fff;
}
h1{
    text-align: center;
    margin:100px auto 50px;
    font-weight:600;
}
form{
    width:90%;
    max-width: 600px;
    margin:auto;
    height:80px;
    background:#434989;
    display:flex;
    align-items:center;
}
form input{
    flex:1;
    height:100%;
    border:0;
    outline:0;
    background:transparent;
    color: #fff;
    font-size:18px;
    padding:0 30 px;
}
form button{
    padding:0 40px;
    height:100%;
    background:#ff3929;
    color:#fff;
    font-size:18px;
    border:0;
    outline: 0;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    cursor: pointer;
}