* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #3498db, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
    display: flex;
    border-top-left-radius: 1em 5em;
    border-top-right-radius: 1em 5em;
    border-bottom-right-radius: 1em 5em;
    border-bottom-left-radius: 1em 5em;
    align-items: center;
    border-radius: 8px;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0px;
    background: transparent;
    background-image: radial-gradient(circle 759px at -6.7% 50%, rgba(80, 131, 73, 1) 0%, rgba(140, 209, 131, 1) 26.2%, rgba(178, 231, 170, 1) 50.6%, rgba(144, 213, 135, 1) 74.1%, rgba(75, 118, 69, 1) 100.3%);
    font-size: 18px;
    padding: 0 30 px;
}

form button {
    padding: 0 40px;
    height: 100%;
    background-image: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder {
    color: #fff;
    font-size: 18px;

}

#show-more-btn {
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;

}

#search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}