*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing:border-box;
}
body{
    background: #39297b;
    color:#fff;
}
h1{
    text-align: center;
    margin:100px auto 50px;
    font-weight:600;
}